<section class="section">
    <div class="section__content">
        <div class="section__image">
            <div class="section__image_title">
                <h3>Reduslim</h3>
                <h3>Eco</h3>
            </div>
            <img src="./img/box-pills.png" alt="" />
        </div>
        <div class="section__form">
            <div class="section__form_title"><h2>Сделай шаг к выздоровлению</h2></div>
            <div class="section__form_order">
                <form action="">
                <label class="section__form_label" for="">Ваше <span>имя</span></label>
                <input class="section__form_inputs" type="text" placeholder="Алексей" />
                <div class="section__form_order_input">
                    <label class="section__form_label" for="">Ваш <span>телефон</span></label>
                    <div class="section__form_order_item">
                        <input
                            class="section__form_inputs"
                            type="text"
                            placeholder="+7 (123) 456 78-90"
                        />
                        <div class="select_country">
                            <div class="select_country_row">RU<img src="./img/rus.png" /></div>
                            <div class="select_country_items">
                                <div class="select_country_item">RU<img src="./img/rus.png" /></div>
                                <div class="select_country_item">USA<img src="./img/united-states.png" /></div>
                                <div class="select_country_item">GER<img src="./img/germany.png"></div>
                            </div>
                        </div>
                        </div>
                        <button type="button">
                            Заказать
                            <svg>
                                <use xlink:href="img/sprite.svg#vector"></use>
                            </svg>
                        </button>
                        <div class="section__form_order_links">
                            <a href="#">Trusted</a>
                            <svg>
                                <use xlink:href="img/sprite.svg#lock"></use>
                            </svg>
                            <a href="#">Secure</a>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>
