.section{
    max-height: 650px;
    padding: 75px 80px;

    @media (max-width: 768px){
        padding: 60px 0;
    }

    &__content{
        width: 100%;
        max-width: 1120px;
        display: flex;
        box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
        border-radius: 1px;

        @media (max-width: 768px){
            flex-direction: column;
        }
    }

    &__image{
        width: 100%;
        max-width: 560px;
        height: 500px;
        position: relative;
        background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
        overflow: hidden;

        @media (max-width: 768px){
            max-width: 100%;
            background: $white;
            padding: 0 20px;
        }

        @media (max-width: 430px){
            margin-bottom: -120px;
        }

        @media (max-width: 359px){
            margin-bottom: -150px;
        }

        & > img{
            width: 465px;
            height: 255px;
            display: block;
            position: absolute;
            bottom: 35px;
            left: 55px;
            z-index: 2;

            @media (max-width: 1220px){
                width: 400px;
                height: 235px;
                left: 35px;
            }

            @media (max-width: 1025px){
                width: 340px;
                height: 215px;
                left: 35px;
                bottom: 45px;
            }

            @media (max-width: 920px){
                width: 290px;
                height: 175px;
                left: 35px;
                bottom: 55px;
            }

            @media (max-width: 875px){
                width: 270px;
                height: 155px;
                left: 35px;
                bottom: 65px;
            }

            @media (max-width: 768px){
                width: 465px;
                height: 255px;
                top: 58%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: 500px){
                width: 405px;
                height: 215px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: 430px){
                width: 330px;
                height: 155px;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: 359px){
                width: 223px;
                height: 122px;
                top: 41%;
                left: 52%;
                transform: translate(-50%, -50%);
            }
        }

        &:before{
            display: block;
            content: '';
            width: 398px;
            height: 398px;
            position: absolute;
            top: 71px;
            left: 20px;
            border-radius: 100%;
            background: $viridian;
            z-index: 1;

            @media (max-width: 1025px){
                width: 358px;
                height: 358px;
            }

            @media (max-width: 920px){
                width: 328px;
                height: 328px;
                top: unset;
                bottom: 75px;
            }

            @media (max-width: 875px){
                width: 288px;
                height: 288px;
                top: unset;
                bottom: 75px;
            }

            @media (max-width: 805px){
                width: 248px;
                height: 248px;
                top: unset;
                bottom: 75px;
            }

            @media (max-width: 768px){
                width: 398px;
                height: 398px;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: 500px){
                width: 328px;
                height: 328px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: 430px){
                width: 250px;
                height: 250px;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: 359px){
                width: 202px;
                height: 202px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &::after{
            display: block;
            content: '';
            width: 688px;
            height: 688px;
            position: absolute;
            left: 225px;
            top: -50px;
            background-image: url('../img/ellipse.png');
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: 805px){
                left: 205px;
            }

            @media (max-width: 768px){
                display: none;
            }
        }

        &_title{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px 0 30px 40px;

            @media (max-width: 768px){
                height: unset;
                flex-direction: unset;
                padding: 40px 0;
            }

            @media (max-width: 430px){
                padding: 40px 0 0 0;
            }

            & > h3{
                font-size: 18px;
                font-weight: 700;
                color: $white;
                
                &:last-child{
                    text-transform: uppercase;
                }

                @media (max-width: 768px){
                    color: $mineShaft;
                }
            }
        }
       
   }

    &__form{
        width: 100%;
        max-width: 560px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;

        @media (max-width: 1220px){
            max-width: 450px;
        }

        @media (max-width: 1050px){
            max-width: 420px;
        }

        @media (max-width: 920px){
            max-width: 390px;
        }

        @media (max-width: 875px){
            max-width: 350px;
        }

        @media (max-width: 768px){
            max-width: 100%;
            height: unset;
            padding-bottom: 59px;
        }

        &_title{
            background-color: #F8F8F8;

            @media (max-width: 1220px){
                max-width: 450px;
            }

            @media (max-width: 768px){
                width: 100%;
                max-width: 100%;
                padding: 0 20px;
                background-color: $white;
            }
        
            & > h2{
                display: block;
                padding: 29px 128px;
                text-align: center;
                font-size: 30px;
                font-weight: 800;
                line-height: 130%;
                color: $mineShaft;

                @media (max-width: 1220px){
                    padding: 29px 50px;
                    font-size: 24px;
                    line-height: 90%;
                }

                @media (max-width: 768px){
                    padding: 0;
                    font-size: 30px;
                    line-height: 130%;
                }
            }
        }

        &_order{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 52px 123px 60px 117px;
            background-color: $white;


            @media (max-width: 1220px){
                padding: 40px 60px 30px 60px;
            }

            @media (max-width: 1050px){
                padding: 40px 30px 30px 30px;
            }

            @media (max-width: 920px){
                padding: 30px 20px 20px 20px;
            }

            @media (max-width: 920px){
                padding: 30px 15px 20px 15px;
            }

            @media (max-width: 768px){
                padding: 30px 20px 0 20px;
                height: unset;
            }

            & > form{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            &_input{
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                & > button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 38px;
                    padding: 12px 0;
                    border: none;
                    border-radius: 5px;
                    background-color: $viridian;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 130%;
                    color: $white;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
    
                    & > svg{
                        width: 15px;
                        height: 16px;
                        margin-left: 10px;
                        transition: all 0.2s ease-in-out;
                    }
    
                    &:hover{
                        background-color: #24A85B;
                    }
    
                    &:hover svg{
                        transform: translateX(12px);
                    }
                }
            }
            
            &_item{
                display: flex;
                justify-content: space-between;
            }

            &_links{
                display: none;

                @media (max-width: 768px){
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 39px;
                    margin-left: -20px;
                    margin-right: -20px;
                    background: #F8F8F8;
                }

                & > a{
                    font-size: 14px;
                    line-height: 130%;
                    font-weight: 700;
                    color: $mineShaft;
                }

                & > svg{
                    width: 12px;
                    height: 15px;
                    margin: 0 20px;
                    fill: #428A60;
                    transition: fill 0.2s ease-in-out;

                    &:hover{
                        fill: #24A85B;
                    }
                }
            }
        }

        &_label{
            font-size: 12px;
            font-weight: 800;
            line-height: 130%;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: $mineShaft;

            & span{
                color: $viridian;
            }
        }

        &_inputs{
            background: #F8F8F8;
            border: 1px solid #E4E4E4;
            border-radius: 5px;
            padding: 16px 20px;


            &::placeholder{
                font-size: 14px;
                font-weight: 600;
                line-height: 130%;
                color: $mineShaft;
                opacity: 0.2;
            }

            &:first-child{
                max-width: 180px;

                @media (max-width: 1220px){
                    margin-right: 20px;
                }

                @media (max-width: 875px){
                    max-width: 160px;
                }

                @media (max-width: 768px){
                    max-width: 100%;
                    width: 76%;
                }
            }
        }
    }
}

.select_country {
	width: 116px;
	position: relative;

	&_row {
		width: 100%;
		height: 50px;
		padding: 10px 12px;
		position: relative;
		background: transparent;
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #F8F8F8;
		border: 1px solid #E4E4E4;
		border-radius: 5px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: $mineShaft;
		cursor: pointer;

        @media (max-width: 805px){
            font-size: 12px;
        }

		&:before {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			right: 15px;
			background: url('../img/arrow.png');
            background-repeat: no-repeat;
			background-position: right center;
			transition: all 0.2s ease-in-out;

            @media (max-width: 400px){
                right: 12px;
            }
		}

		&_active:before {
			transform: rotateX(180deg);
		}
	}

	&_items {
		width: 100%;
		height: 0;
		top: 39px;
		visibility: hidden;
		position: absolute;
		background: #F8F8F8;
		border: 1px solid #E4E4E4;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		&_active {
			height: auto;
			visibility: visible;
			padding-top: 14px;
			cursor: pointer;
			transition: 0.3s all;
		}
	}

	&_item:hover {
		background: #e5f3f9;
	}

	&_item, &_row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 12px;

		img {
			width: 24px;
			height: 24px;
			margin-right: 23px;

            @media (max-width: 805px){
                width: 22px;
                height: 22px;
            }

            @media (max-width: 359px){
                width: 20px;
                height: 20px;
                margin-right: 14px;
            }
		}

        @media (max-width: 805px){
            font-size: 12px;
        }
	}
	&_item img {
		pointer-events: none;
	}
}