@import 'vars';
@import 'mixins';
@import 'fonts';

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
}

input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}

@import 'section';
